body {
  /*background: lightslategrey;*/
  width: 100%;
  text-align: center;
  /*background: rgb(130, 24, 91);*/
  background: lightgrey;
}

canvas {
  background-color: powderblue;
}

#Loser {
  background-color: red;
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 10px 50px;
  display: none;
  border: 3px solid black;
}

#Winner {
  background-color: green;
  position: absolute;
  top: 40%;
  left: 5%;
  padding: 10px 50px;
  display: none;
  border: 3px solid black;
}
